/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin: 50px 0;
}
button{
    margin: 30px 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 17px;
}

/* ============= Quote Generator ============= */
.centeralize{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
textarea{
    color: crimson;
    resize: none;
    padding: 20px;
    font-size: 18px;
    font-family: inherit;
    border: 2px solid yellowgreen;
}



/* ============= Quote Generator ^ ============= */


/* ============= Make a Friend ============= */
#friend-list{
    text-align: center;
}
#friend-img{
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
/* ============= Make a Friend ^ ============= */



/* ============= Tour Here ============= */

#flag{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.location{
    text-align: center;
}

/* ============= Tour Here ^ ============= */