/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* ============= Code Generator ============= */
.centeralize{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quote-box{
    border: 1px solid gray;
    height: 50px;
    width: 600px;
}
textarea{
    resize: none;
    padding: 20px;
    font-size: 18px;
    font-family: inherit;
}

.gen-quote{
    margin: 30px 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 17px;
}

/* ============= Code Generator ^ ============= */